main>.container {
    padding: 50px 10px 0px;
}

.even {
    font-weight: bold
}

.color-LinkedInBlue {
    color: #1163bf
}

.color-gitHubPurple {
    color: #7a319a
}

.color-TwitterBlue {
    color: #1da1f3
}

.color-CoderFoundryOrange {
    color: #ff993b
}

.color-JavaScriptYellow {
    color: #f7df1e
}

.background-color {
    background-color: #f7df1e;
}

.background-color:hover {
    background-color: black;
    color: #f7df1e;
}

.checklist>li i {
    color: #f7df1e
}

/* Minimum height value (targets ID 'content') */
#content {
    min-height: 80vh;
}

navbar {
    background-color: var(--dark-color);
    color: var(--white-color);
}

footer {
    background-color: var(--dark-color);
}

footer .social>a {
    color: var(--white-color);
}

footer .linkedin>a:hover {
    opacity: .9;
    color: #1163bf;
}

footer .github>a:hover {
    opacity: .9;
    color: #7a319a;
}

footer .twitter>a:hover {
    opacity: .9;
    color: #1da1f3;
}

*/ .color-CoderFoundryOrange {
    color: #ff993b
}

.color-JavaScriptYellow {
    color: #f7df1e
}

.color-BootStrapPurple {
    color: #7952b3
}

.color-HTMLOrange {
    color: #e96228
}

.color-CSSBlue {
    color: #2a93e7
}

.buttonColor {
    background-color: #f7df1e;
}

.buttonColor:hover {
    background-color: black;
    color: #f7df1e;
}