main>.container {
    padding: 80px 15px 20px;
}

.even {
    font-weight: bold
}

.iconify {
    width: 3rem;
    height: 3rem;
    margin: 1em;
}

.color-SuperDogRed {
    color: #ff0f18
}

.background-color {
    background-color: #ff0f18;
    color: #fcfd64
}

.background-color:hover {
    background-color: #fcfd64;
    color: #ff0f18;
}